<html>  
  
  <head>  
  Hey Man!
  </head>  
  <body>  
    <div>  
      <h2>User</h2>  
      <form action="/create" method="post">  
        <input name="name" type="text" />  
        <input type="submit" value="Submit" />  
      </form>  
    </div>  
  </body>  
</html>  